/* ABOUT ME */

.about-me {

    .title-container {
        border-radius: 10px 0 0 10px;
        margin-left: 2rem;

        h2 {
            margin-left: -1rem;
        }
    }

    .text-container {
        padding-left: 2rem;
        padding-right: 5rem;

        @media screen and (max-width: @md-breakpoint-width) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        p {
            margin-bottom: 5rem;

            @media screen and (max-width: @md-breakpoint-width) {
                margin-bottom: 2rem;
            }
        }
    }

    .about-me-image {
        border-radius: 10px;
        max-width: 38vw;
        width: 100%;
        aspect-ratio: 1;

        @media screen and (max-width: @md-breakpoint-width) {
            max-width: 100vw;
        }
    }
}