/* ABOUT ME */

.about-me {
    @media screen and (max-width: @mobile-breakpoint-width) {
        padding-bottom: 0;
    }

    .text-container {
        padding-left: 5rem;

        @media screen and (max-width: @mobile-breakpoint-width) {
            padding-left: 1rem;
            padding-right: 1rem;

            .btn-container {
                width: 100%;
                text-align: center;
                margin-bottom: 1rem;
            }

            .btn {
                width: 18rem;
                margin-top: 1rem;
            }
        }

        p {
            text-align: justify;
            margin-bottom: 2rem;

            @media screen and (max-width: @mobile-breakpoint-width) {
                margin-bottom: 2rem;
            }
        }

        .btn.btn-primary {
            margin-right: 1rem;
            @media screen and (max-width: @mobile-breakpoint-width) {
                margin-right: 0;
            }
        }
    }

    .image-container {
        text-align: center;
        .about-me-image {
            width: 100%;
            object-fit: contain;

            @media screen and (max-width: @mobile-breakpoint-width) {
                width: 70%;
                margin-bottom: 2rem;
            }
        }
    }
}