@import "main.less";

/* FOOTER */

footer {
    color: @white;
    background-color: @purple;
    min-height: 50vh;
    padding-left: 10vw;
    padding-top: 10vh;
}

footer h2 {
    font-weight: 300;
    font-size: 4rem;
    letter-spacing: 0.14rem;
    margin-bottom: 3rem;
}

footer p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.14rem;
    line-height: 130%;
}