footer {
    margin-top: @session-spacer-height;
    margin-bottom: @end-of-page-spacer-height;

    h2 {
        color: @darkblue;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .contact-item {
        font-size: 1.1rem;
        color: @darkgray;
        margin-bottom: 1rem;
        letter-spacing: 0.02rem;

        img {
            width: 1.5rem;
            margin-right: 1rem;
        }       

    }
}