.header {

    .header-toolbar {
        transition: 0.8s;
    }

   .header-cta-container {
       display: flex !important;
   }

    #header-toolbar-menu {
        visibility: hidden;
    }

    .navbar-nav {
        margin-right: 1rem;
    }

    .brand-primary {
        font-weight: 300;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;

        @media screen and (max-width: @mobile-breakpoint-width) {
            font-size: 0.875rem;
        }
    }

    .brand-secondary {
        display: inline;
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 0.06rem; 
        
        @media screen and (max-width: @mobile-breakpoint-width) {
            font-size: 0.875rem;
        }
    }

    .navbar-light {
        height: 7.0rem;

        @media screen and (max-width: @mobile-breakpoint-width) {
            height: 5.0rem;
        }

        .brand-primary {
            display: block;
        }

        .social-icon {
            margin-left: 1rem;
            width: 3rem;
        }
    }

    .navbar-light .navbar-brand {
        color: @darkgray;
    }

    .navbar-light .navbar-nav .nav-link {
        @media screen and (max-width: @mobile-breakpoint-width) {
            font-size: 0.875rem;
        }
    }

    .navbar-light .navbar-nav .active > .nav-link {
        color: @darkgray;
    }

    .navbar-dark {
        color: @white;
        background-color: @darkblue;
        height: 3.5rem;

        .brand-primary {
            display: inline;
            margin-right: 1rem;
        }

        .brand-secondary {
            @media screen and (max-width: @mobile-breakpoint-width) {
                display: none;
            }
        }
        
        .social-icon {
            margin-left: 1rem;
            width: 2rem;
        }
    }

    .navbar-dark .navbar-brand,
    .navbar-dark .navbar-text {
        color: @white;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
        @media screen and (max-width: @mobile-breakpoint-width) {
            font-size: 0.875rem;
        }
    }

    .navbar-dark .nav-item.active .nav-link,
    .navbar-dark .nav-item:hover .nav-link {
        color: @white;
    }
}

