/* GENERAL */

@gray: #464646;
@purple: #702F87;
@white: #FFFFFF;
@yellow: #FFDB70;
@bg-color: #F6F9FF;

@md-breakpoint-width: 768px;

body {
    background-color: @bg-color;
    color: @gray;
    font-family: 'Roboto', sans-serif
}

.container {
    background-color: @bg-color;
}

button {
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    padding: 12px 32px;
    border: none;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

strong {
    font-weight: 700;
}

@media screen and (max-width: @md-breakpoint-width) {
    .order-first-mobile {
        order: -1;
    }

    .order-one-mobile {
        order: 1;
    }

    .order-two-mobile {
        order: 2;
    }

    .order-three-mobile {
        order: 3;
    }
}


/* CONTENT SECTIONS GENERAL */

.content-section {
    min-height: 95vh;

    .row {
        --bs-gutter-y: 5rem;
        margin-top: 0;

        @media screen and (max-width: @md-breakpoint-width) {
            --bs-gutter-y: 2rem;
        }
    }

    .title-container {
        display: block;
        width: 100vw;
        height: 32px;
        background-color: @yellow;
        margin-top: 10vh;
    }

    h2 {
        font-weight: 300;
        font-size: 4rem;
        margin-top: -3rem;
        letter-spacing: 0.14rem;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.14rem;
        line-height: 130%;
    }
}


/* DEBUG */
 
 .red-bg {
     background-color: lightcoral;
 }

 .green-bg {
    background-color: lightgreen;
}