/* GENERAL */

@darkgray: #464646;
@gray: #dddada;
@lightgray: #F1F2F4;
@white: #FFFFFF;
@bg-color: #F6F9FF;
@darkblue: #355094; 
@blue: #4969bb; 
@transparent: #FFFFFF00;

@md-breakpoint-width: 768px;

body {
    background-color: @bg-color;
    color: @darkgray;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.main {
    background-color: @bg-color;
}

.main.container-fluid {
    margin-top: 6rem;
}

.container-margin {
    &:extend(.col-md-1);
}

.btn {
    border: 0;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 12px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary {
    background-color: @darkblue;
    color: white;
    border-radius: 0.7rem;
    letter-spacing: 0.16rem;

    &:hover {
        color: white;
        background-color: @blue;
    }
}

.btn-secondary {
    background-color: @transparent;
    color: @darkblue;

    &:hover {
        background-color: @gray;
        color: @darkblue;
    }
}

strong {
    font-weight: 700;
}

@media screen and (max-width: @md-breakpoint-width) {
    .order-first-mobile {
        order: -1;
    }

    .order-one-mobile {
        order: 1;
    }

    .order-two-mobile {
        order: 2;
    }

    .order-three-mobile {
        order: 3;
    }

    .hide-mobile {
        display: none !important;
    }
}


/* CONTENT SECTIONS GENERAL */

.content-section {

    .row {
        --bs-gutter-y: 5rem;
        margin-top: 0;

        @media screen and (max-width: @md-breakpoint-width) {
            --bs-gutter-y: 2rem;
        }
    }

    .title-container {
        display: inline-block;
        height: 2rem;
        margin-top: 10vh;
        color: @darkblue;

        @media screen and (max-width: @md-breakpoint-width) {
            height: 1rem;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 3rem;
        margin-top: -2rem;
        letter-spacing: 0.14rem;

        @media screen and (max-width: @md-breakpoint-width) {
            font-size: 1.8rem;
            margin-top: -1.3rem;
        }
    }

    p {
        font-size: 1rem; 
        font-weight: 300;
        letter-spacing: 0.06rem;
        line-height: 130%;
    }
}

.red {
    background-color: salmon;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: aquamarine;
}