/* PROJECTS */

.projects {

    #expandButton {
        display: none;
    }

    #expansible {
        --bs-gutter-y: 2rem;
    }

    @media screen and (max-width: @md-breakpoint-width) {
        #expansible {
            overflow: hidden;
            transition: max-height 1s ease-out;
            --bs-gutter-y: 0rem;
        }

        #expandButton {
            display: none;
            margin-top: 1rem;
            width: 18rem;
        }
    }

    .title-container {
        border-radius: 0 10px 10px 0;
        text-align: right;
        width: calc(100% - 3rem);
        margin-bottom: 1rem;

        h2 {
            margin-right: -3rem;
        }

        @media screen and (max-width: @md-breakpoint-width) {
            width: calc(100% - 2rem);
            margin-bottom: 1.5rem;

            h2 {
                margin-right: -2rem;
            }
        }
    }

    .catalog {
        justify-content: space-evenly;
        padding-bottom: 5rem;

        @media screen and (max-width: @md-breakpoint-width) {
            padding-bottom: 1rem;
        }

        .catalog-item {
            border-radius: 10px;
            padding: 1rem;

            @media screen and (max-width: @md-breakpoint-width) {
                padding: 0.5rem;
            }

            &:hover {
                background-color: #b9b9b933;
            }
            
            img {
                width: 100%;
                margin-bottom: 1rem;
                border-radius: 10px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        
            h3 {
                text-align: center;
                font-size: 1.2rem;
                text-decoration: none !important;
                color: @darkgray;
            }
        }
    }
}


