/* SKILLS */

.skills {
    margin-right: 1rem;
}

.skills .title-container {
    border-radius: 0 10px 10px 0;
    margin-right: 1rem;
}

.skills h2 {
    text-align: right;
    margin-right: -1rem;
}

.skills .content-body {
    margin-left: 1rem;
}